.percentage-bar {
  height: 50px;
  width: 500px;
  margin: 20px auto;
  border-radius: 50px;
  background-image: linear-gradient(to right, #f07136 50%, rgb(40, 40, 40) 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: 1s ease-in-out;
}

.percentage-bar:hover {
  background-position: left;
}

#bar1:hover {
  background-size: 100% 100%;
}

#bar2:hover {
  background-size: 160% 100%;
}

#bar3:hover {
  background-size: 130% 100%;
}
